# Compiler files
cache/
out/
bin
examples/js/node_modules
# Ignores development broadcast logs
broadcast/
.DS_Store

# Docs
docs/

# Dotenv file
.env

# Hardhat env
node_modules/
artifacts/
package-lock.json